<div class="form_body col-xs-10 col-xs-offset-1">
    <h1>Delivery Address</h1>
    <div class="inputs col-xs-10 col-xs-offset-1">
        <label for="firstname">FIRST NAME</label>
        <div class="input-group col-xs-12">
            <input type="text" id="firstname" class="input col-xs-12" placeholder="First Name"><br>
        </div>
        <div class="input-group col-xs-12">
            <label for="surname">SURENAME</label>
            <input type="text" id="surname" class="input col-xs-12" placeholder="Surname"><br>
        </div>
        <label for="street">Street/NO</label>
        <div class="input-group col-xs-12">
            <input type="text" id="street" class="input col-xs-9 m-r street" placeholder="Street">
            <input type="text" id="no" class="input col-xs-2 no" placeholder="No.">
        </div>
        <label for="street">POSTCODE/CITY</label>
        <div class="input-group col-xs-12">
            <input type="text" id="post" class="input col-xs-3 m-r postcode" placeholder="Postcode">
            <input type="text" id="city" class="input col-xs-8 city" placeholder="City">
        </div>
    </div>
</div>
<div class="form_end col-xs-12">
    <span id="back" class="col-xs-2">Back</span>
    <button class="main-red-btn center-block"><span class="call_to_action next">Next</span></button>
</div>