<h1>Your order</h1>
<div class="size_options col-md-8 col-md-offset-2">
    <h4>Choose pizza size in cm</h4>
    <div class="sizes" data-size="20"><span>20</span></div>
    <div class="sizes selected" data-size="30"><span>30</span></div>
    <div class="sizes" data-size="40"><span>40</span></div>
</div>
<div class="selector col-xs-12">
    <h4>Ingredients:</h4>
    <select class="col-xs-10">
        <option id="def_opt" value="" disabled selected>Choose ingerdients</option>
        <option>Sauce</option>
    </select>
    <button class="col-xs-1"><img src="assets/icons/add_icon.svg"></button>
    <ul class="selected_opt">
        <li data-ing=""><span>Tomato Sauce</span></li>
    </ul>
</div>
<div class="yn_selector col-md-4 col-md-offset-4">
    <input type="checkbox" name="cheese-rand" checked class="bootstrap-switch">
</div>