<h1>Your order</h1>
<div class="size_options">
    <h4>Choose pizza size in cm</h4>
    <div class="col-xs-offset-3">
        <div class="sizes" data-size="20" ng-click="sizeSelect($event)"><span>20</span></div>
        <div class="sizes" data-size="30" ng-click="sizeSelect($event)"><span>30</span></div>
        <div class="sizes" data-size="40" ng-click="sizeSelect($event)"><span>40</span></div>
    </div>
</div>
<div class="selector col-xs-12">
    <h4>Ingredients:</h4>
    <select class="col-xs-10">
        <option id="def_opt" value="0" disabled selected>Choose ingerdients</option>
        <option ng-repeat="option in toppingsOpt" value="{{option.name}}">{{option.name}}</option>
    </select>
    <button class="col-xs-1" ng-click="selectIngredients($event)"><img src="assets/icons/add_icon.svg"></button>
    <ul class="selected_opt">
    </ul>
</div>
<h4>Cheese rand?</h4>
<div class="col-xs-2 col-xs-offset-5 m-b">
    <label class="switch">
        <input type="checkbox" id="cheese-rand" name="cheese-rand" ng-model="order.cheese_rand" checked>
    <div class="slider"></div>
</label>
</div>

<div class="form_end col-xs-12">
    <span id="back" class="col-xs-2" ui-sref="main">Back</span>
    <button class="main-red-btn center-block" ui-sref="order.address" disabled><span class="call_to_action next">Next</span></button>
</div>
