<div class="details">
    <div class="headers">
        <h1>Everything correct?</h1>
        <h4>Your order</h4>
        <table class="col-xs-8 col-xs-offset-2">
            <tr>
                <td class="cat left-col">Steinoffen-Pizza</td><td class="cat">Pizza size</td>
            </tr>
            <tr>
                <td class="left-col">X1</td><td>20</td>
            </tr>
            <tr>
                <td class="cat left-col">Ingredients</td><td class="cat">Cheese rand</td>
            </tr>
            <tr>
                <td class="left-col">Someing</td><td>yes</td>
            </tr>
        </table>
    </div>
    <div class="address_details col-xs-12">
        <h4>Devliery Address:</h4>
        <p>Marcus Muller</p>
        <p>Street No.</p>
        <p>Postalcode Berlin</p>
    </div>
</div>
<div class="form_end col-xs-12">
    <span id="back" class="col-xs-2" ui-sref="order.address">Back</span>
    <button class="main-red-btn center-block"><span class="call_to_action">Make Order</span></button>
</div>